<%- include('../../../partials/head') %>
<%- include('../../../partials/header') %>
<%- include('../../../partials/sidebar') %>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>List Artikel</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Pages</li>
            <li class="breadcrumb-item">Artikel</li>
            <li class="breadcrumb-item active">List</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      
</main>

<%- include('../../../partials/footer') %>